.text
{
    color: black;
    text-align: center;
    background-color: white;
    padding: 30px;
    font-size: 20px;
    font-style: italic;
}
.title
{
    font-weight: bold;
    font-style: italic;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
  }