.About-image {
    height: 100vh;
    width: 100vw;
    filter: brightness(50%);
}
.quoteText
{
    font-style: italic;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.about-text {

    position: absolute;
    top: 35vh;
    text-align: center;
    padding: 10px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
@media screen and (max-width: 600px) {
    .About-image {
        height: 70vh;
        width: 100%;
        filter: brightness(50%);
    }
    .centered {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}