.aucontainer2 {
    display: flex;
    background-color: #83d8d5;
    align-items: center;
    margin-bottom: 10px;
}
.intro-text {
    text-align: center;
    margin: 30px;
}
.directorImg {
    height: 400px;
    margin: 50px;
    border-radius: 5px;
}
@media screen and (min-width:300px) and (max-width: 1000px) {
    .aucontainer2 {
        display: flex;
        flex-direction: column-reverse;
        background-color: #a1d4d2;
        align-items: center;
        margin-bottom: 7px;
    }
    .intro-text {
        text-align: center;
        margin: 0px;
    }
    .directorImg {
        height: 400px;
        margin: 30px;
        border-radius: 5px;
    }
}
@media screen and (max-width:300px) {
    .aucontainer2 {
        display: flex;
        flex-direction: column-reverse;
        background-color: #a1d4d2;
        align-items: center;
        margin-bottom: 7px;
    }
    .directorImg {
        height: 300px;
        margin: 30px;
        border-radius: 5px;
    }
}