form {
    text-align: center;
    justify-content:center;
}
.form {
    padding: 30px;
    background-color: #83d8d5;
}
h1 {
    font-size: 50px;
}
.input-text {
    width: 500px;
    height: 50px;
    margin: 20px;
    font-size: medium;
    border: 0;
    padding: 1rem;
}
.form-head {
    text-align: center;
}
.send-btn {
    height: 50px;
    width: 100px;
    font-size: medium;
    border: 0;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgb(103, 103, 103);
}
.send-btn:hover
{
    box-shadow: 0px 0px 3px 1px rgb(103, 103, 103) inset;
}
@media screen and (max-width:600px) {
  .input-text {
        width: 100%;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: medium;
        padding-left: 1rem;
        }
        .send-btn {
            height: 50px;
            width: 100px;
            font-size: medium;
            margin-top: 10px;
            border: 0;
            cursor: pointer;
        }
    .form {
        padding-right: 30px;
        background-color: #83d8d5;
        margin-bottom: 5px;
    }
}