.nav
{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    position: fixed;
    box-shadow: 0 2px 4px 4px rgb(0 0 0 / 30%);
    z-index: 100;
    width: 100%;
    opacity: 100%;
}
.logo
{
    width: 100%;
    color: black;
}
.logo
{
    cursor: pointer;
    padding-left: 20px;
    padding-top: 15px;
}
.menuIcon
{
    cursor: pointer;
    display: none;
    z-index: 200;
}
.navMenu
{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    list-style: none;
    z-index: 30;
}
.navMenuActive
{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    list-style: none;
    z-index: 30;
}
.nav-links
{
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-links:hover
{

    background-color: #218380;
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
@media screen and  (max-width: 800px) 
{
    .nav{
        position: fixed;
    }
    .navMenu
    {
        display: none;
    }
    .navMenuActive
    {
        display: flex;
        background-color: #218380;
        flex-direction: column;
        width: 100%;
        height: 225px;
        position: absolute;
        top: 9vh;
        opacity: 1;
        transition: all 0.5s ease;
        list-style-type: none;
        font-size: large;
    }
    .nav-links
    {
        text-align: left;
        padding: 2px;
        width: 100%;
        display: table;
        color: white;
    }
    .nav-links:hover 
    {
        background-color: #7577fa;
        border-radius: 0;
    }
    .logo
    {
        position: absolute;
        top: 12px;
        left: 0;
    }
    .menuIcon
    {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}
