.popup{
    display: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}
.pop-image
{
    object-fit: cover;
    max-width: 100%;
}
.popup-inner
{
    position: relative;
    padding: 32px;
    max-width: 650px;
    background-color: #fff;
}
.popup-inner .close-btn
{
    position: absolute;
    right: 16px;
    margin-right: 16px;
}