.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    justify-content: center;
}
iframe {
    width: 500px;
    height: 350px;
}
.project {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.project-image {
    object-fit: cover;
    height: 300px;
    width: 100%;
    cursor: pointer;
}
.box-text {
    background-color: #218380;
    color: white;
    margin-bottom: 2px;
    max-width: 100%;
}
@media (max-width: 600px) {
    .project-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: start;
    }
    .project-image {
        object-fit: cover;
        height: 200px;
        max-width: 100%;
    }
    iframe {
        width: 100%;
        height: 350px;
    }
    .project {
        text-align: center;
        margin: 10px;
    }
    .popup-inner {
        position: relative;
        padding: 32px;
        width: 100%;
        max-width: 300px;
        background-color: #fff;
    }
}
@media screen and (min-width:601px) and (max-width: 1000px) {
    .project-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
    }
    .project-image {
        object-fit: cover;
        height: 200px;
        max-width: 100%;
    }
    iframe {
        width: 100%;
        height: 350px;
    }
    .project {
        text-align: center;
        margin: 10px;
    }
    .popup-inner {
        position: relative;
        padding: 32px;
        width: 100%;
        max-width: 300px;
        background-color: #fff;
    }
}